.featured {
    width: 70%;
    margin: 0 auto;
    margin-top: 6.5rem;

    &__breadcrumbs {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 5rem;
    }

    &__links li {
        display: inline-block;
        padding-right: 5px;

        &:after {
            content: "/ ";
            padding-left: 5px;
        }

        &:last-child:after {
            content: "";
        }

        &:last-child > a {
            color: $m3;
        }
    }



    &__link {
        text-decoration: none;

        &:link,
        &:visited {
            color: #000;
        }

        &:hover {
            color: $m3;
        }


    }

    //FEATURED ITEM SECTION

    &__item {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        margin-bottom: 7rem;

        @media screen and (min-width: $bp-large) {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10rem;
        }

        img {
            box-shadow: 0px 22px 49px -15px rgba(87, 86, 86, 0.75);
            -webkit-box-shadow: 0px 22px 49px -15px rgba(87, 86, 86, 0.75);
            -moz-box-shadow: 0px 22px 49px -15px rgba(87, 86, 86, 0.75);
            height: 300px; 

            @media screen and (min-width: $bp-small) {
               height: 100%;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;

            justify-content: space-between;
            flex-basis: 33%;
            padding: 5rem 0;
        }


        //BOX 1

        &-box1 {
            margin-bottom: 3rem;

            @media screen and (min-width: $bp-large) {
               margin-bottom: 0;
            }
        }
        &-review {
            font-size: 1.3rem;
            margin-bottom: 2.5rem;

            .fa-star {
                color: $m4;
            }
        }

        &-price {
            font-size: 1.6rem;
            font-weight: bold;
            padding-right: 5px;
        }

        &-prevprice {
            text-decoration: line-through;
            font-weight: 300;
            color: $m4;
           
        }
    }

    &__item-name {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 8px;
        margin-bottom: 4rem;
        text-transform: uppercase;
    }

    //BOX 2



    &__item-quantity {
        font-size: 2rem;
        padding: 1.5rem;
        border: 1px solid $m4;
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        width: 35%;
        margin-bottom: 4rem;

    }

    &__item-buttons {
        font-size: 1rem;
        font-weight: 700;
    }

    &__item-box2 a:link,
    &__item-box2 a:visited {

        text-decoration: none;
        display: inline-block;
    }

    &__item-box2-btn {
        background-color: #fff;
        color: #000;
        padding: 2.3rem 3rem;
    }

    &__item-box2-btn.active {
        background-color: $charcoal;
        padding: 3rem 4.5rem;
        color: $m1;
        box-shadow: 0px 2rem 5rem -2rem #000;
        text-transform: uppercase;
    }

    //Social Sharing links 
    &__item-social {
        margin-top: 4rem;
        font-size: 1.3rem;
        color: $charcoal;

        .fab {
            color: $m4;
        }

        li {
            display: inline-block;
            padding-left: 1.6rem;
        }
    }

    //DESCRIPTION BOX
    &__description {
        margin-bottom: 12rem;
    }

    &__description-links {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-weight: 700;

        li {
            flex-basis: 33.3%;
            padding: 2rem;
            border-bottom: 2px solid $m4;
        }

        & li:first-child {
            border-bottom: 2px solid #000;

        }
    }

    &__description-links a:link,
    a:visited {
        text-decoration: none;
        color: $charcoal;
    }

    &__description-text {
        color: $charcoal;
        line-height: 3rem;
        font-size: 1.5rem;
    }
}