.footer {
    &__container {
        width: 60%;
        margin: 0 auto; 

        &-2 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
        }
    }

    &__links {
        display: flex;
        flex-basis: 45%;
        justify-content: space-between;
    }

    


    &__list {

        &-title {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2.7rem;
        }

        &-links {
           
            font-size: 1.2rem;

            li {
                padding-bottom: 1rem;
            }

            & a:link, & a:visited {
                text-decoration: none;
                color: $charcoal;
            }
        }
    }

   


    //CONTACT SECTION

    &__contact {

    }

    &__address {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
    }

    &__email {
        font-size: 1.2rem;
        text-align: right;
        margin-bottom: 1.2rem;
    }

    &__phone {
        font-size: 1.2rem;
        text-align: right;
    }

    //COPY RIGHT SECTION/SOCIAL MEDIA

    &__copyright {
        font-size: 1.3rem;
        display: flex;
        justify-content: space-evenly;
        padding: 3rem 0;
        border-top: 1px solid lightgrey;
        &-text {
            color: $m4;
        }
    }

    &__social {
        display: flex;
        li {
            padding: 0 1rem;
            color: $m4;
        }

        li:first-child {
            color: #000;
            font-weight: 700;
        }
    }

}