.products {
    width: 70%;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 14rem;

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        width: 100%;

        margin-bottom: 7rem;
        letter-spacing: 2px;
    }

    hr {
        width: 5rem;
        margin-bottom: 1.3rem;
    }

    &__panels {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        grid-gap: 3rem;

        @media screen and (min-width: $bp-small) {
            display: flex;
            justify-content: space-around;
        }


        .fa-angle-left,
        .fa-angle-right {
            align-self: center;
            font-size: 1.7rem;
            color: $m4;
            padding: 2.5rem 1rem;
            display: none;


            @media screen and (min-width: $bp-small) {
                display: inline-block;
            }

        }

        .fa-angle-right {
            border-right: 1px solid $m4;
        }

        .fa-angle-left {
            border-left: 1px solid $m4;
        }

        img {
            margin-bottom: 7rem;
            width: 250px;
            height: 200px;
        }
    }

    &__panel {

        padding: 7rem 0;
        font-weight: 700;
        letter-spacing: 2px;
        position: relative;
        background-color: #f2f2f2;
    }

    &__name {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    &__price {
        font-size: 1.2rem;
    }

    &__sale-tag {
        background-color: $m3;
        text-transform: uppercase;
        padding: 1.2rem 2rem;
        color: #fff;
        position: absolute;
        transform: rotate(-90deg);
        left: -2rem;
        top: 60px;
    }
}